#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

// HavenApp-DEV Release Configuration
FLUTTER_TARGET=lib/main.dart
PRODUCT_BUNDLE_IDENTIFIER=com.haven.app3
PRODUCT_NAME=Haven DEV
// Append ENV=dev dart-define (base64: RU5WPWRldg==)
DART_DEFINES=$(inherited),RU5WPWRldg==
